<h1>Home Page</h1>

<form action="/submit/" method="post">
    {% csrf_token %}
    {{ form }}
<!--     <label for="username">Username: </label>
    <input id="username" type="text" name="username" value="{{ current_name }}">
    <label for="message">Message: </label>
    <input id="message" type="text" name="message" value="{{ current_message }}">
    <label for="time_left">Time Value: </label>
    <input id="time_left" type="text" name="time_left" value="{{ current_time }}"> -->

    <input type="submit" value="OK">
</form>

<ul>

{% for greeting in greetings %}
    <li>{{ greeting.username }}, {{ greeting.message }}, {{ greeting.time_created }}, {{ greeting.time_left }}</li>
{% endfor %}

</ul>